{{define "script" }}
<script>
$(function () {
    var socket = null;
    var msgBox = $("#chatbox input[type='text']");
    var uuid = $("#chatbox #uuid").val();
    var id = $("#chatbox #id").val();
    var messages = $("#messages");
    $("#chatbox input[type='submit']").click(function () {
      if ($(this).val() == "Google送信") {
        var gravar = "Google送信";
      } else if ($(this).val() == "Gravatar送信") {
        var gravar = "Gravatar送信";
      } else {
        var gravar = "送信";
      };
      if (!msgBox.val()) return false;
      if (!socket) {
        alert("エラー : WebSocket接続が行われていません。");
        return false;
      }
      socket.send(JSON.stringify({"Text": msgBox.val(), "ChatUUID": uuid, "WorkID": id, "Gravar": gravar})); //JSONで渡す
      msgBox.val("");
      return false;
    });
    if (!window["WebSocket"]) {
      alert("エラー : WebSocketに対応していないブラウザです。")
    } else {
      socket = new WebSocket("ws://{{.Host}}/room");
      socket.onclose = function () {
        alert("接続が終了しました。");
      }
      socket.onmessage = function (e) { //e=client.sendのデータ
        var msg = JSON.parse(e.data);
        messages.append(
        $("<p class='border border-secondary mt-3 p-4 rounded-pill lead'>").append(
          $("<img>").attr("title", msg.UserName).css({
            width: 50,
            height: 50,
            verticalAlign: 'middle',
            'border-radius': '10px',
          }).attr("src", msg.AvatarURL),
          $("<span class='ml-3'>").text(msg.Text),
          $("<span style='float:right; margin-top: 8px;'>").text(msg.When)
          )
        );
      }
    }
  });
</script>
{{end}}
