{{define "content"}}
<div class="text-center">
    <div class="bg-light pt-4 pb-4">
        <h1 class="mb-4">求人一覧</h1>
        <span class="p-2 bg-white">期間：{{.NowDate}} 〜</span>
    </div>
    <div class="pb-4">
    {{ range .Works }}
        <div class="pt-2 pb-2 border-bottom">
            <p>日付：{{.Date}}</p>
            <p>タイトル：{{.Title}}</p>
            <p>金額：{{.Money}}円</p>
            <p>職種：
            {{if eq .JobID "0" }}エキストラ{{end}}
            {{if eq .JobID "1" }}データ入力{{end}}
            {{if eq .JobID "2" }}モニターバイト{{end}}
            {{if eq .JobID "3" }}仕分けバイト{{end}}
            {{if eq .JobID "4" }}工場バイト{{end}}
            {{if eq .JobID "5" }}カフェ{{end}}
            {{if eq .JobID "6" }}コールセンター{{end}}
            {{if eq .JobID "7" }}イベントスタッフ{{end}}
            {{if eq .JobID "8" }}試験監督{{end}}
            </p>
            <a href="/work/edit/{{.ID}}">編集</a>
            <a href="/work/delete/{{.ID}}">削除</a>
            <a href="work/apply/{{.ID}}" class="text-danger">応募</a>
            <a href="work/chat/{{.ID}}" class="text-danger">メッセージを送る</a>
        </div>
    {{end}}
    </div>
</div>
{{end}}
