{{define "content"}}
<div class="text-center">
  {{if or (.Messages) (.SendMessages)}}
  <div class="m-4">
    {{ range .Messages }}
    <a href="/chat/message/{{.ChatUUID}}" class="text-danger">受信したメッセージ</a><br>
    {{end}}
    {{ range .SendMessages }}
    <a href="/chat/message/{{.ChatUUID}}" class="text-primary">送信したメッセージ</a><br>
    {{end}}
  </div>
  {{end}}
  {{if .ApplyWorks}}
  <div class="bg-light pt-4 pb-4">
    <h1 class="mb-4">応募中求人</h1>
  </div>
  <div class="pt-4 pb-4">
    {{ range .ApplyWorks }}
    <div class="mb-4">
      <p>日付：{{.Date}}</p>
      <p>タイトル：{{.Title}}</p>
      <p>金額：{{.Money}}円</p>
      <p>職種：
      {{if eq .JobID "0" }}エキストラ{{end}}
      {{if eq .JobID "1" }}データ入力{{end}}
      {{if eq .JobID "2" }}モニターバイト{{end}}
      {{if eq .JobID "3" }}仕分けバイト{{end}}
      {{if eq .JobID "4" }}工場バイト{{end}}
      {{if eq .JobID "5" }}カフェ{{end}}
      {{if eq .JobID "6" }}コールセンター{{end}}
      {{if eq .JobID "7" }}イベントスタッフ{{end}}
      {{if eq .JobID "8" }}試験監督{{end}}
      </p>
    </div>
    {{end}}
  </div>
  {{end}}
  {{if .Works}}
  <div class="bg-light pt-4 pb-4">
    <h1 class="mb-4">募集中求人</h1>
  </div>
  <div class="pt-4 pb-4">
    {{ range .Works }}
    <div class="mb-4">
      <p>日付：{{.Date}}</p>
      <p>タイトル：{{.Title}}</p>
      <p>金額：{{.Money}}円</p>
      <p>職種：
      {{if eq .JobID "0" }}エキストラ{{end}}
      {{if eq .JobID "1" }}データ入力{{end}}
      {{if eq .JobID "2" }}モニターバイト{{end}}
      {{if eq .JobID "3" }}仕分けバイト{{end}}
      {{if eq .JobID "4" }}工場バイト{{end}}
      {{if eq .JobID "5" }}カフェ{{end}}
      {{if eq .JobID "6" }}コールセンター{{end}}
      {{if eq .JobID "7" }}イベントスタッフ{{end}}
      {{if eq .JobID "8" }}試験監督{{end}}
      </p>
      <a href="/apply/status/{{.ID}}">応募中ユーザー</a>
    </div>
    {{end}}
  </div>
  {{end}}
</div>
{{end}}
