{{ define "content" }}
<form role="form" action="/work/edit/{{.ID}}" method="post" class="form">
    <h3>求人編集</h3>
    <table class="form-group">
        <tbody>
            <tr>
                <th scope="row">日付</th>
                <td>
                    <input type="date" name="date" value="{{.Date}}">
                    <p class="bold">※求人一覧画面に表示されます。</p>
                </td>
            </tr>
            <tr>
                <th scope="row">タイトル</th>
                <td>
                    <textarea name="title">{{.Title}}</textarea>
                    <p class="bold">※求人一覧画面に表示されます。</p>
                </td>
            </tr>
            <tr>
                <th scope="row">金額</th>
                <td>
                    約<input type="text" name="money" class="twenty" value="{{.Money}}">円
                    <p class="bold">※求人一覧画面に表示されます。</p>
                </td>
            </tr>
            <tr>
                <th scope="row">職種</th>
                <td>
                    <select name="job_id">
                        <option value=""></option>
                        <option value="0"{{if eq .JobID "0"}}selected{{end}}>エキストラ</option>
                        <option value="1"{{if eq .JobID "1"}}selected{{end}}>データ入力</option>
                        <option value="2"{{if eq .JobID "2"}}selected{{end}}>モニターバイト</option>
                        <option value="3"{{if eq .JobID "3"}}selected{{end}}>仕分けバイト</option>
                        <option value="4"{{if eq .JobID "4"}}selected{{end}}>工場バイト</option>
                        <option value="5"{{if eq .JobID "5"}}selected{{end}}>カフェ</option>
                        <option value="6"{{if eq .JobID "6"}}selected{{end}}>コールセンター</option>
                        <option value="7"{{if eq .JobID "7"}}selected{{end}}>イベントスタッフ</option>
                        <option value="8"{{if eq .JobID "8"}}selected{{end}}>試験監督</option>
                    </select>
                </td>
            </tr>
            <!-- <tr>
                <th scope="row">評価設定</th>
                <td>
                    <select name="evaluation">
                    <option value="0"{{if eq .Evaluation "0"}}selected{{end}}>設定しない</option>
                    <option value="1"{{if eq .Evaluation "1"}}selected{{end}}>1以上</option>
                    <option value="2"{{if eq .Evaluation "2"}}selected{{end}}>2以上</option>
                    <option value="3"{{if eq .Evaluation "3"}}selected{{end}}>3</option>
                    </select>
                    <p class="bold">※設定すると評価以上の方のみ応募できます。</p>
                </td>
            </tr> -->
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary" type="submit">作成</button>
</form>

{{end}}
