{{ define "content" }}

<form role="form" action="/work/new" method="post" class="form">
    <h3>求人作成</h3>
    <table class="form-group">
        <tbody>
            <tr>
                <th scope="row">日付</th>
                <td>
                    <input type="date" name="date">
                    <p class="bold">※求人一覧画面に表示されます。</p>
                </td>
            </tr>
            <tr>
                <th scope="row">タイトル</th>
                <td>
                    <textarea name="title"></textarea>
                    <p class="bold">※求人一覧画面に表示されます。</p>
                </td>
            </tr>
            <tr>
                <th scope="row">金額</th>
                <td>
                    約<input type="text" name="money" class="twenty">円
                    <p class="bold">※求人一覧画面に表示されます。</p>
                </td>
            </tr>
            <tr>
                <th scope="row">職種</th>
                <td>
                    <select name="job_id">
                        <option value=""></option>
                        {{range $index, $var := .JobList}}
                        <option value="{{$index}}">{{$var}}</option>
                        {{end}}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">評価設定</th>
                <td>
                    <select name="evaluation">
                        {{range $index, $var := .EvaluationList}}
                        <option value="{{$index}}">{{$var}}</option>
                        {{end}}
                    </select>
                    <p class="bold">※設定すると評価以上の方のみ応募できます。</p>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary" type="submit">作成</button>
</form>

{{ end }}
